/*

!/.gitignore
!/alacritty
!/autostart
!/dunst
!/fastfetch
!/foot
!/gtk-3.0
!/htop
!/hypr
!/kanshi
!/labwc
!/mako
!/MangoHud
!/micro
/micro/buffers/
/micro/backups/
!/nvim
!/picom
!/rofi
!/sway
!/swaylock
!/tofi
!/tmux
!/waybar
!/xournalpp
/xournalpp/metadata/
/xournalpp/plugins/
!/yay
