window#waybar {
    /* font-family: "Ubuntu Nerd Font"; */
    font-family: "monospace";
    font-size: 13px;
    /* min-height: 0; */
    /* background: linear-gradient(rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 80%); */
    background: rgba(0,0,0, 0.6);
    /* background: transparent; */
    color: white;
}

tooltip {
    border-radius: 10px;
    font-family: "monospace";
    font-size: 13px;
    background: rgba(0,0,0, 0.80);
}

#taskbar button {
    padding: 2px 8px;
}


#clock, #battery, #backlight, #network, #pulseaudio, #privacy, #bluetooth, #idle_inhibitor, #hardware-info, #tray {
    /* border: 1px solid white; */
    padding: 0px 6px;
}

/*#hardware-info {
    padding: 0px 6px 0px 0px;
    animation-timing-function: steps(12);
}*/

#cpu, #memory, #disk, #temperature {
    /* border: 1px solid white; */
    padding: 0px 5px;
    margin: 0px 3px;
    font-size: 11px;
}

#hardware-items {
    background: rgba(20, 20, 20, 1);
}

#clock {
    font-weight: bold;
}

#idle_inhibitor.deactivated {
    color: gray;
}

#bluetooth.off {
    color: gray;
}

#pulseaudio.muted {
    color: gray;
}
#pulseaudio.veryhigh {
    color: orange
}

#network.disconnected {
    color: gray;
}

#battery {}

#battery.charging {}

/* #battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

#network {}

#network.disconnected {}

#pulseaudio {}

#pulseaudio.muted {}

#tray {}


/* @keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
} */


